.post {
    background-color: rgba(255, 255, 255, 0.05);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: all 0.3s;
}

.post-link{
    text-decoration: none;
}
.post-link:hover {
    text-decoration: none;
}

.post:hover{
    background-color: rgba(255, 255, 255, 0.1);
}